/*
	GENERAL
*/
*{
	box-sizing: border-box;
	outline: none;
}
ul,li{
	margin: 0;
	list-style-type: none;
}
a:hover,
a:link,
a:active,
a:visited{
	color: #000;
	text-decoration: none;
	font-weight: 400;
}
body,html{
	/*font-family: 'Lato';*/
	height: 120vh;
}

.sidebar-item{
	/*linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),*/
	/*background:  linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url("../images/background--main.jpg");*/
	/*background-size: cover;*/

}
.nav{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/images6.jpeg");
	/*background-size: 90% auto;*/
	background-size: cover;
}

/*******************/

/*
	ALIGNMENT
*/
.vertical-align{
	margin-top: 15%;

}

/*
	LOGIN PAGE
*/
.login-head{
	position: absolute;
	top: 4rem;
	left: 50%;
	transform: translateX(-50%);
}
.login--form-container{
	border:1px solid green;
}
/**/
div#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;height: 100%;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 7% auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

/**/
/********************/

/********************/
/*
	FORMS
*/
.form{
	margin-top: 2rem;
}
/********************/
/*
	BUTTONS
*/
.btn-cus{
	background-color:orange;
}
.btn-success-cus{
	background-color: green;
	height: 2.3rem;
}
button#present,
button#absent{
	margin: 1rem 0rem;
	display: none;
}
button#present{
	margin-left: 1.4rem ;
}
div#success{
	color:green;
	margin-left: 2rem;
}

#submitPay{
	margin-top: 1rem;
}
/********************/
/*
	NAVIGATION
*/
.nav{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end; /*horizontal align-content vetical*/
	align-items: baseline;
	background-color: #5d4037;
	height: 4em;
	padding-top: .5em;
}
.nav .nav-item{
	text-align: center; text-transform: uppercase;
	/*background-color: white;*/
	margin-right: 0.3rem;
}
.nav .nav-item:last-child{
	margin-right: 2rem;
	color: red;
}
.nav .nav-item:last-child a{
	margin-right: 2rem;
	color: red;font-weight: 700;
}
.nav .nav-item a{
	color: white;
	font-size: 0.7em;
	font-weight: 400;
}
.nav .nav-item:last-child 
a:hover{
	/*border: 2px solid green; */
	border-bottom: 1px solid #5d4037;
	margin-top: 0px;
	margin-left: 50px;
	transform: scale(1.6);
	transition: margin 0.2s ease-out .2s
				,transform:  0.1s linear;
				/*trans property duration timing function delay*/
}
.nav .nav-item 
	a:hover{
	border-bottom: 2px solid  red;
	transition: border-bottom .2s;
}
.active{
	border-bottom: 2px solid #bc5100;
}
.nav .nav-item a.logout{
	font-size: 1.1em;
}
/*********************/
/*
	SIDEBAR
*/
	.sidebar{
		flex:2;
		height: 120vh;
		/*background-color: #fafafa;*/
		background-color: #f4f4f4;
		border-right: 2px solid #fff;
	}
	.sidebar-item{
		/*margin-top: 10rem;*/
		padding-top: 0.5rem;
		/*background-color: #8b6b61;*/
		height: 3rem;
		text-align: center;
		border-bottom: 1px solid #301810;
	}
	.sidebar-item:hover{
		transform: scale(1.2);
		transition: transform 0.2s ease;
	}
	.sidebar-item:first-child{
		margin-top: 10rem;
	}
	.sidebar-item a{
		font-weight: 600;
		color:#321911;
	}

.wrapper{
	display: flex;
	flex-flow: row nowrap;
}
/*********************/
/*
	SECTION
*/

section{
	padding: 3rem;
	background-color: #f4f4f4;
	flex:6 0 500px;
	height: 120vh;
}
.one,
.two,
.three{
	font-weight: 700;
}
.one p span,
.two p span,
.three p span{
	font-weight: 400;
	margin-left: 5rem;
}

/********************/

/*
	ERROR MESSAGES
*/

.reg-Error{
	color: red;
	margin-top: 1rem;
	font-size: 0.7em;
	font-weight: 700;
}
#result{
	font-size: 1em;
	color:green;
}
#check{
	font-size: 0.9em;
	color: green;
	margin-left : 2rem;
	/*text-transform: uppercase;*/

}
/*js stylings DYNAMC*/
#payDetails{
	margin-top: 1rem;
}

.reg span,
.present span,
.amount span{
	font-weight: bold;
}
.reg span{
	margin-right: 1rem;
}
.present span{
	margin-right: 3rem;
}
.amount span{
	margin-right: 2rem;
}

.none{
	display: none;
}